
/* HTML AND BODY CSS */
html, body {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}




/* Body CSS */
body {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 0px 20px #eceaea;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.top {
    display: flex;
    justify-content: space-between;
}

h1#time{
    /* border: 2px solid red; */
    text-align: center;
}

div#crypto {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px;

    margin-top:40px;
    margin-left: 25px;

    font-size: 25px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.678);

    
    /* border: 2px solid red; */
}

div#crypto > span {
    margin-left: 10px;
    text-align: center;
}

div#crypto-top {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}


h1#time {
    /* border: 3px solid blue; */
    align-self: center;
    margin-top: 45vh;
    font-size: 90px;
    position: absolute;
}
div#weather {
    margin-right: 20px;
}
div#weather > img {
    width: 70px;
}

p.weather-city {
    width: 100%;
    text-align: right;
    margin: 0;
}

p.weather-temp {
    margin: 0;
    font-size: 1.7rem;
}

#photographer {
    margin-left: 25px;
    font-size: 25px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}